:root{
    --cor-fundo: #d36dd3;
    --cor-principal: #58236d;
    --cor-secundaria: #212121;
    --cor-destaque: #ce13b5;
    --cor-texto: #110808;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
   
.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

 h1{
    color: var(--cor-destaque);
}

.caixa-pergunta{
    padding-bottom: 10px;
}

button{
    background-color: var(--cor-secundaria);
    color: --cor-texto;
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0,3s;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}